.details {
  display: inline-block;
  position: absolute;
  top: 100;
  min-width: 400px;
}

.img {
  display: inline-block;
  width: 210px;
  height: auto;
  margin-right: 15px;
}

.title {
  font-size: 20px;
  margin: 0;
}

.score {
  margin-top: 10px;
  margin-bottom: 10px;
}

.overview {
  font-weight: 800;
}

.genres {
  font-weight: 700;
}
