.details {
  display: inline-block;
  position: absolute;
  top: 100;
  min-width: 400px;
}

.detailsMenu {
  margin-left: 20px;
}

.detailsLink {
  color: black;
  font-weight: 600;
}

.detailsLinkActive,
.detailsLink:hover {
  color: brown;
  text-decoration: underline;
  font-weight: 600;
}

h2 {
  font-size: 15px;
}

.linkBack {
  display: flex;
  height: 25px;
  padding-top: 10px;
  font-size: 10px;
  background: #fff;
  border: 0;
}
