.headerMenu {
  list-style: none;
  display: flex;
  width: 200px;
  height: auto;
  justify-content: space-between;
}

.navLink {
  color: black;
  font-weight: 600;
}

.navLinkActive {
  color: brown;
  text-decoration: underline;
  font-weight: 600;
}
